*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: Montserrat, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

.catalog_title {
  font-size: 70px;
  font-weight: 400;
  line-height: 78px;
  margin-bottom: 110px;
  margin-top: 220px;
  text-align: center;
  color: #515076;
}

.clear-list {
  list-style: none;
  padding: 0;
  margin: 0 auto;
}
.catalog_container {
  background-image: url(images/bg.png);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100% auto;
  padding-top: 220px;
}

.catalog_title {
  margin-top: 0;
  margin-bottom: 110px;
}
.container {
  width: 1110px;
  margin: 0 auto;
}

.card {
  background-color: #f7f7fa;
  padding: 25px;
  width: 100%;
}
.compound_name {
  font-weight: 700;
  font-size: 13px;
  line-height: 18px;
  color: #515076;
}
.compound_list {
  font-size: 13px;
  line-height: 18px;
  color: #515076;
  margin: 0;
  padding-left: 0;
  list-style-position: inside;
}

.card__image {
  display: block;
}
.card_name {
  font-size: 20px;
  line-height: 27px;
  color: #515076;
  margin-top: 5px;
}

.card_category {
  display: block;
  font-size: 13px;
  line-height: 18px;
  color: #a5a3b9;
  text-transform: uppercase;
}
.card-description {
  font-size: 13px;
  line-height: 18px;
  color: #515076;
  margin-top: 5px;
  margin-bottom: 15px;
}
.products {
  display: flex;
  flex-wrap: wrap;
  gap: 45px;
  justify-content: center;
}

.products_item {
  width: 340px;
}

.products-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.card_price-container {
  display: flex;
  gap: 180px;
}

.card_price-label {
  font-weight: 700;
  color: #515076;
  margin-top: 25px;
}
.card-price {
  color: #515076;
  margin-top: 25px;
}
